@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #13111a 16.62%, #3d3a94 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem{
    border-radius: 50%;
    object-fit: cover;
    height: 80px;
    width: 80px;
    border: 2px solid white;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menuitem{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
    
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-size: 64px;
    font-weight: 400;
    color: #FFF2E7;
    visibility: hidden;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #b9b0a9;
    visibility: hidden;
}

.conteudo-principal-escrito-botao{
    width: 70%;
    height: 40px;
    background-color: transparent;
    color: #312d2d;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    border: 0.4px solid #FFF2E7;
    border-radius: 3px;
    transition: 0.5s;
    visibility: hidden;
}

.linkGit:link, .linkGit:visited,  .linkGit:hover, .linkGit:active
{
    color: #FFF2E7;
    text-decoration: none;
}

.conteudo-principal-escrito-botao:hover{
    cursor: pointer;
    background-color:#dfdbd93f;
}

.conteudo-principal-imagem{
    height: 300px;
}

.giticon{
    font-size: 20px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    visibility: hidden;
}

.conteudo-secundario-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{ 
    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #FFF2E7;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-top: 0.4px solid #FFF2E7;
    padding-top: 58px;
    
}

.sobre-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
    visibility: hidden;
}

.sobre-paragrafo{
    margin: 0 15%;
    text-align: justify;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
    margin-bottom: 40px;
    line-height: 35px;
    visibility: hidden;
}

.projetos{
    display: flex;
    align-items: center;
    flex-direction: column;
   
}

.projetos-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 80px;
    border-top: 0.4px solid #FFF2EF;
    padding-top: 48px;
}

.projeto-banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 15% 60px;
    gap: 100px;
    visibility: hidden;
}

.projeto-banner-inv{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 15% 60px;
    gap: 100px;
    visibility: hidden;
}

.projeto-banner-side{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.projeto-banner-side-inv{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.projeto-banner-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
}

.projeto-banner-titulo-inv{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
}

.projeto-banner-descricao{
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
}

.projeto-banner-descricao-inv{
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
    text-align: end;
}

.projeto-banner-link{
    color: #FFF2E7;
    display: flex;
    border-bottom: 0.4px solid #FFF2E7;
    padding-bottom: 3px;
    gap: 8px;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
}

.projeto-banner-foto{
    object-fit: contain;
    height: 250px;
    width: 50%;
    border-radius: 8%;
}

.projetos .projeto-banner:nth-child(4){
    margin-bottom: 100px;
}

.repositorio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repositorio-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 20px;
    color: #FFF2EF;
    margin-bottom: 10px;
}

.repositorio-botao{
    width: 70%;
    height: 40px;
    background-color: transparent;
    color: #312d2d;
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
    border: 0.4px solid #FFF2E7;
    border-radius: 3px;
    transition: 0.5s;
    margin-bottom: 80px;
}

.repositorio-botao:hover{
    cursor: pointer;
    background-color:#dfdbd93f;
    
}

.giticonrepo{
    font-size: 20px;
    color: white;
}

.linkGitRepo:link, .linkGitRepo:visited,  .linkGitRepo:hover, .linkGitRepo:active
{
    color: #FFF2E7;
    text-decoration: none;
}

.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.social-titulo{
    margin: 0 0 50px 0;
    padding-top: 35px;
    border-top: 0.4px solid #FFF2E7;

    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 24px;
    color: #FFF2EF;

}

.social-descricao{
    margin: 0 15% 15px;
    text-align: justify;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
    visibility: hidden;
}

.social-perfis{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin: 60px 15% 0;
}

.rs{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.a:link, .a:active, .a:visited{
    text-decoration: none;
    color: #FFF2E7;
    transition: 0.5s;
}

.a:hover{
    color: #8b847e;
}

.bi-instagram, .bi-twitter, .bi-facebook, .bi-telephone-fill, .bi-whatsapp, .bi-envelope-fill{
    font-size: 36px;
    transition: 0.3s;
}

.bi-instagram:hover, .bi-twitter:hover, .bi-facebook:hover, .bi-telephone-fill:hover, .bi-whatsapp:hover, .bi-envelope-fill:hover{
    transform: scale(1.1);
}

.social-title{
    margin-top: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
}

.contato{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contato-titulo{
    margin: 0 0 50px 0;
    padding-top: 35px;
    border-top: 0.4px solid #FFF2E7;

    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 24px;
    color: #FFF2EF;
}

.contato-subtitulo{
    margin: 0 15% 15px;
    text-align: justify;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
    visibility: hidden;
}


.contato-perfis{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin: 60px 15% 0;
}

.contato-title{
    margin-top: 10px;
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 16px;
    color: #FFF2EF;
    width: 130px;
    text-align: center;
}






.rodape{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.rodape-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #FFF2EF;
}

/* responsivo */

@media (max-width: 480px){

    body{
        display: flex;
        flex-direction: column;
        font-size: 100%;
        background: linear-gradient(68.15deg, #25222e 16.62%, #3d3a94 85.61%);
    }
    
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        padding: 7%;
    }

    .conteudo-principal-escrito{
        margin-bottom: 30px;
    }

    .conteudo-principal-imagem{
        height: 250px;
    }

    .conteudo-secundario-paragrafo{
        text-align: center;
    }

    .sobre-titulo{
        margin-bottom: 40px;
    }

    .sobre-paragrafo{
        margin: 0 5% 40px;
    }

    .projeto-banner, .projeto-banner-inv{
        flex-direction: column;
        gap: 20px;
        margin: 0 5% 20px;
    }

    .projeto-banner-foto{
        width: 100%;
    }

    .projetos .projeto-banner:nth-child(4){
        margin-bottom: 30px;
    }

    .repositorio-titulo{
        text-align: center;
    }

    .social-descricao{
        margin: 0 5% 18px;
    }

    .contato-subtitulo{
        margin: 0 5% 15px;
    }
}